@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');
@font-face {
  font-family: "Ageo";
    font-weight: 400;
    src: url("./fonts/ageo/AgeoPersonalUse.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 700;
        src: url("./fonts/ageo/AgeoPersonalUse-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 800;
        src: url("./fonts/ageo/AgeoPersonalUse-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 300;
        src: url("./fonts/ageo/AgeoPersonalUse-Light.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 500;
        src: url("./fonts/ageo/AgeoPersonalUse-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 600;
        src: url("./fonts/ageo/AgeoPersonalUse-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 100;
        src: url("./fonts/ageo/AgeoPersonalUse-Thin.otf") format("opentype");
}
@font-face {
    font-family: "Ageo";
        font-weight: 900;
        src: url("./fonts/ageo/AgeoPersonalUse-Heavy.otf") format("opentype");
}

:root {
    --font-family: "Ageo", sans-serif;
    --font-base: "DM Sans", sans-serif;
    --color-title: #0B1B35;
    --primary-color: #FF6600;
    --grey-light-color: rgba(21, 20, 57, 0.40);
    --grey-color: #8A898E;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}